<div class="modal-header" style="padding-top: 0 !important;">
    <h4 class="modal-title" id="modal-title">Update Password</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="padding: 20px 30px !important">
    <form [formGroup]="userForm" class="customer-update-form">
        <div>
            <p><strong>Old Password:</strong></p>
            <input type="password" class="form-control" formControlName="oldPassword">

            <div *ngIf="invalidPassword" class="form-control-feedback" style="position: relative !important;">
                *Invalid Password
            </div>
        </div>

        <div style="padding-top: 20px !important">
            <p><strong>New Password:</strong></p>
            <input type="password" class="form-control" formControlName="newPassword">

            <div *ngIf="userForm.controls['newPassword'].invalid && userForm.controls['newPassword'].touched"
                class="form-control-feedback" style="position: relative !important;">
                *Required
            </div>
        </div>

        <div style="padding-top: 20px !important">
            <p><strong>Confirm New Password:</strong></p>
            <input type="password" class="form-control" formControlName="confirmNewPassword">

            <div *ngIf="passwordNotMatch" class="form-control-feedback" style="position: relative !important;">
                *Password Not Match
            </div>

            <div *ngIf="userForm.controls['confirmNewPassword'].invalid && userForm.controls['confirmNewPassword'].touched"
                class="form-control-feedback" style="position: relative !important;">
                *Required
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" style="background-color: #66615B !important"
        (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="changePassword()">Update Password</button>
</div>