<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.facebook.com">Water Market System</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    An investment in knowledge pays the best interest. © {{test | date: 'yyyy'}}
                </span>
            </div>
        </div>
    </div>
</footer>